{% raw %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% endraw %}{{cookiecutter.project_name}}{% raw %}</title>
</head>
<body>
  <div id="root">Hello from Django template</div>
</body>
</html>{% endraw %}